<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/pagina-principal/pagina-principal.html">

<dom-module id="inicio-sesion">
  <template>
    <style>
      :host {
        display: inline;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-lg-12" hidden$="{{inicioSesion}}">
          <pagina-principal></pagina-principal>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" hidden$="{{!inicioSesion}}">
          <div class="row" >
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <img src="/src/images/LBLogo.jpg" width="280px" height="280px" >
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        <br>
          <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="row">
              <label>
                Usuario:
              </label>
              <input type="text" class="form-control" value="{{usuario::input}}">
            </div>
            <br>
            <div class="row">
              <label>
                Password:
              </label>
              <input type="password" class="form-control" value="{{pass::input}}">
            </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-lg-4">
          </div>

        <div class="col-lg-4">
            <div class="row">
              <button class="btn btn-primary btn-lg btn-block" name="button" on-click = "iniciarSesion">Ingresar</button>
            </div>
            <br>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <img src="https://icon-icons.com/icons2/20/PNG/256/business_application_addmale_useradd_insert_add_user_client_2312.png" width="50" height="50" on-click="agregarUsuarios">
            </div>
            </div>
          </div>


        <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4" id="regis" hidden$={{ocultar}}>
          <br>
          <h4>Formulario de Registro</h4>
          <br>
            <label>
              Nombre:
            </label>
            <input type="text" class="form-control" value="{{nombre::input}}">
            <label>
              Usuario:
            </label>
            <input type="text" class="form-control" value="{{usuarioreg::input}}">
            <label>
              Password:
            </label>
            <input type="password" class="form-control" value="{{passreg::input}}">
          </div>
          <div class="col-lg-4">

          </div>
        </div>
          <br>
          <div class="row text-center">
            <div class="col-lg-12" id="botreg" hidden$={{ocultar}}>
                <button class="btn btn-primary" name="button" on-click = "registroUsuarios">Registrar</button>
            </div>
        </div>


      </div>


  </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InicioSesion extends Polymer.Element {
      static get is() { return 'inicio-sesion'; }
      static get properties() {
              return {
                    ocultar: {
                    type:Boolean,
                      value:true,
                    notify:true
                  },
                  usuario:{
                    type:String,
                    notify:true
                  },
                  pass:{
                    type:String,
                    notify:true
                  },
                  nombre:{
                    type:String,
                    notify:true
                  },
                  usuarioreg:{
                    type:String,
                    notify:true
                  },
                  passreg:{
                    type:String,
                    notify:true
                  },
                  inicioSesion : {
                    type : Boolean,
                    value : true,
                    notify : true
                  }
        };
      }

        iniciarSesion() {
          var parametros = {
            usuario : this.usuario,
            password : this.pass
            }
            var request = new XMLHttpRequest();
            request.open("POST","http://localhost:3001/iniciarSesion",false);
            request.setRequestHeader("Accept","application/json");
            request.setRequestHeader("Content-Type","application/json");
            var body = JSON.stringify(parametros);
            request.send(body);
            if (request.status == 200) {
                  var us = JSON.parse(request.response);
                  if (us.length==0) {
                    alert("Usuario o contraseña incorrecto");
                  }
                  else {
                    alert("Bienvenido");
                    this.inicioSesion=!(this.inicioSesion);
                  }

            }
            else {
              console.log("Error inesperado "+request.status);

            }
}
        agregarUsuarios() {
          this.nombre = "";
          this.usuarioreg = "";
          this.passreg = "";
          this.ocultar=!(this.ocultar);
          //alert("Hola");
        }
        registroUsuarios() {

          if (this.nombre == "" || this.usuarioreg == "" || this.passreg == "") {
            alert("Los campos son obligatorios");
          }
          else
        {
          var parametros = {
            nombre: this.nombre,
            usuario : this.usuarioreg,
            password : this.passreg
            }
            var request = new XMLHttpRequest();
            request.open("POST","http://localhost:3001/guardarUsuario",false);
            request.setRequestHeader("Accept","application/json");
            request.setRequestHeader("Content-Type","application/json");
            var body = JSON.stringify(parametros);
            request.send(body);
            if (request.status == 200) {
                  alert("Registro Almacenado Correctamente");
                  this.ocultar=!(this.ocultar);
            }
            else {
            console.log("Error inesperado "+request.status);

            }
        }
      }
      }
    window.customElements.define(InicioSesion.is, InicioSesion);
  </script>
</dom-module>
