<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="muestra-movimientos">
  <template>
    <style>
      :host {
        display: line-block;
        padding: 5px;
      }
    </style>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <p>
            <img src="/src/images/bancomercinta.png" width="300px" height="80px">
          </p>
        </div>
        <div class="col-lg-3">
          <br>
          <h6>Asesor: <small>Aldo Medina</small></h6>
        </div>
      </div>

      <div class="row">
          <div class="col-lg-9">

            <div class="row">
              <div class="col-lg-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Tarjeta numTarjeta</th>
                      <th scope="col">Subproducto subProducto</th>
                      <th scope="col">Saldo a la fecha saldoFecha</th>
                      <th scope="col">Fecha de pago fechaPago</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
              <br>
              <div class="row">
                <div class="col-lg-12">
                  <table class="table">
                    <thead style="background-color: #ccd9ff">
                      <tr>
                        <th scope="col">Fecha de movimiento</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Tipo de Movimiento</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">fechaMovimiento</th>
                        <td>descripcion</td>
                        <td>$ importe</td>
                        <td>tipoMovimiento</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
          </div>

        <div class="col-lg-3">
          <div class="row">
            <div class="col-xs-4">
              Buscar:
            </div>
            <div class="col-xs-8">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="#tarjeta" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <span class="fas fa-search"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <h6>Cliente: <small>Cristian Ruben Andrade Veloz</small></h6>
          </div>

          <div class="row">
            <h6>Correo: <small>ruben_veloz89@hotmail.com</small></h6>
          </div>

          <div class="row">
            <h6>Telefono: <small>5524921232</small></h6>

          </div>

        </div>
      </div>

    </div>
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class MuestraMovimientos extends Polymer.Element {
      static get is() { return 'muestra-movimientos'; }
      static get properties() {
        return {

        };
      }
    }
    window.customElements.define(MuestraMovimientos.is,MuestraMovimientos);
  </script>
</dom-module>
