y<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="pagina-principal">
  <template>
    <style>
      :host {
        display: line-block;
        padding: 5px;
      }
    </style>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <p>
            <img src="/src/images/bancomercinta.png" width="300px" height="80px">
          </p>
        </div>
        <div class="col-lg-3">

        </div>
      </div>

      <div class="row">
         <div class="col-lg-9" id="cuentaPrincipal" hidden$="{{hidden}}">
            <div class="row">
              <div class="col-lg-12">
                <table class="table">
                  <thead style="background-color: #ccd9ff">
                    <tr>
                      <th scope="col">Cuenta</th>
                      <th scope="col">Plastico</th>
                      <th scope="col">Situacion</th>
                      <th scope="col">Saldo Disponible</th>
                      <th scope="col">Moneda</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template is="dom-repeat" items="{{clienteResultado.productos.cuentasVista}}">
                      <tr>
                        <th scope="row">{{item.numCuenta}}</th>
                        <td>{{item.plastico}}</td>
                        <td>{{item.situacion}}</td>
                        <td>$ {{item.saldoDisponible}}</td>
                        <td>{{item.tipoMoneda}}</td>
                      </tr>
                    </template>
                  </tbody>
                </table>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-12">
                  <table class="table">
                    <thead style="background-color: #ccd9ff">
                      <tr>
                        <th scope="col">TDC</th>
                        <th scope="col">Subproducto</th>
                        <th scope="col">Saldo a la fecha</th>
                        <th scope="col">Fecha de Pago</th>
                        <th scope="col">Situacion</th>
                      </tr>
                    </thead>
                    <tbody>
                      <template is="dom-repeat" items="{{clienteResultado.productos.cuentasTDC}}">
                        <tr>
                          <th scope="row"><button class="btn btn-link" on-click="verMovimientos" data-args$="[[item]]" >{{item.plastico}}</button></th>
                          <td>{{item.subProducto}}</td>
                          <td>${{item.saldoFecha}}</td>
                          <td>{{item.fechaPago}}</td>
                          <td>{{item.situacion}}</td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                  </div>
                </div>
          </div>

          <div class="col-lg-9" id="movimientosPlastico" hidden$="{{!hidden}}">
            <div class="row">
              <div class="col-lg-12">
                <button class="btn btn-sm btn-link" on-click=regresar>Regresar</button>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Plastico <small>[[cuentaSeleccionada.plastico]]</small></th>
                      <th scope="col">Subproducto<small> [[cuentaSeleccionada.subProducto]]</small></th>
                      <th scope="col">Saldo a la fecha <small>[[cuentaSeleccionada.saldoFecha]]</small></th>
                      <th scope="col">Fecha de pago <small>[[cuentaSeleccionada.fechaPago]]</small></th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
              <br>
              <div class="row">
                <div class="col-lg-12">
                  <table class="table">
                    <thead style="background-color: #ccd9ff">
                      <tr>
                        <th scope="col">Fecha de movimiento</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Tipo de Movimiento</th>
                      </tr>
                    </thead>
                    <tbody>
                      <template is="dom-repeat" items="{{cuentaSeleccionada.movimientos}}" id="list">
                        <tr>
                          <th scope="row">[[item.fechaMovimiento]]</th>
                          <td>[[item.descripcion]]</td>
                          <td>$[[item.importe]]</td>
                          <td>[[item.tipoMovimiento]]</td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <button class="btn btn-info float-right" style="background-color:#0040ff" on-click="abrirPanel">Agregar Movimiento</button>
                  </div>
                </div>
                <br>
                <div class="row" hidden$="{{hiddenMovimiento}}">
                  <form>
                    <div class="form-row">
                      <div class="col">
                        <label>Fecha de Movimiento:</label>
                        <input type="text" class="form-control" readonly value ="[[fechaHoy]]">
                      </div>

                      <div class="col">
                        <label for="Descripcion">Descripcion</label>
                        <input type="text" class="form-control" value="{{descripcion::input}}">
                      </div>

                      <div class="col">
                        <label for="Importe">Importe</label>
                        <input type="number" min="1" max="999999" class="form-control" value="{{importe::input}}" >
                      </div>

                      <div class="col">
                        <label for="Importe">Tipo de Movimiento</label>
                        <select class="form-control" value="{{tipoMovimiento::change}}">
                          <option value="0">Seleccionar ...</option>
                          <option value="1">Cargo</option>
                          <option value="2">Pago</option>
                        </select>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-12">
                        <button type="button" class="btn btn-primary float-right" on-click= "almacenarMovimiento">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>

          </div>

        <div class="col-lg-3">
          <div class="row">
            <div class="col-xs-4">
              Buscar:
            </div>
            <div class="col-xs-8">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="#tarjeta" aria-describedby="button-addon2"
                value="{{tarjetaAbuscar::input}}" maxlength="16">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2" on-click="obtenerCliente">
                    <span class="fas fa-search"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <h6>Cliente: <small>[[clienteResultado.cliente.nombre]]</small></h6>
          </div>

          <div class="row">
            <h6>Correo: <small>[[clienteResultado.cliente.correo]]</small></h6>
          </div>

          <div class="row">
            <h6>Telefono: <small>[[clienteResultado.cliente.telefono]]</small></h6>

          </div>
          <br>

          <div class="row">
            <button class="btn btn-link" name="button" on-click="obtenerValorBitcoin">¿Cuanto vale el Bitcoin?</button>
          </div>
          <br>

          <div class="row" >
            <div class="col-xs-12" hidden$="{{bitcoin}}">
              <h7>El bitcoin cuesta hoy en mexico: </h7> <br>
              <h7>$ [[valorBitcoin]] MXN</h7>
            </div>
          </div>
        </div>
      </div>

    </div>
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class PaginaPrincipal extends Polymer.Element {
      static get is() { return 'pagina-principal'; }
      static get properties() {
        return {
          clienteResultado : {
            type: Object,
            notify : true
          },
          cuentaSeleccionada : {
            type : Object,
            notify : true
          },
          hidden : {
            type : Boolean,
            value : false
          },
          hiddenMovimiento : {
            type : Boolean,
            value : true
          },
          fechaHoy : {
            type : String,
            notify : true
          },
          descripcion : {
            type : String,
            notify : true
          },
          importe : {
            type : Number,
            notify : true
          },
          tipoMovimiento : {
            type : String,
            notify : true
          },
          tarjetaAbuscar : {
            type : String,
            notify : true
          },
          valorBitcoin : {
            type : String,
            notify : true
          },
          bitcoin : {
            type : Boolean,
            value : true
          }
        };
      }
        obtenerCliente(){
          var tarjetaPasada = this.tarjetaAbuscar;

          if (String(tarjetaPasada).length !== 16) {
            alert("El numero de tarjeta tiene que ser a 16 digitos");
          }
          else {
            this.hidden = false;
            var jsonTarjeta = {
              plastico : tarjetaPasada
            }
            var request=new XMLHttpRequest();
            request.open("POST", "http://localhost:3001/movimientos",false);
            request.setRequestHeader("Accept","application/json");
            request.setRequestHeader("Content-Type","application/json");
            var body=JSON.stringify(jsonTarjeta);
            request.send(body);
            if (request.status == 200) {
              var clientesTotales = JSON.parse(request.response);
              if (clientesTotales.length == 0) {
                alert("Numero de tarjeta no existe, valide nuevamente");
              }
              else {
                this.clienteResultado= clientesTotales[0];

              }
            } else {
              console.log("Error " + request.status);
            }
          }
          }
          verMovimientos(event){
            var cuenta  = JSON.parse(event.target.getAttribute('data-args'));
            this.cuentaSeleccionada = cuenta;
            this.hidden = true;
          }
          regresar() {
            this.hidden = false;
          }
          abrirPanel(){
            this.hiddenMovimiento = !this.hiddenMovimiento;
           var request=new XMLHttpRequest();
            request.open("GET", "http://localhost:3001/obtainDateNow",false);
            request.send();
            var fecha = JSON.parse(request.response);
            var fechaHoy = fecha.day;
            this.fechaHoy = fechaHoy;
          }
          almacenarMovimiento() {

            if (this.descripcion == "" || this.importe == "" || this.tipoMovimiento == '0') {
                alert("Todos los campos son obligatorios");
            }
            else {
            var movimientoAlmacen = {
                plastico : "",
                fechaMovimiento : "",
                descripcion : "",
                importe : "" ,
                tipoMovimiento : ""
            }

            movimientoAlmacen.plastico = this.cuentaSeleccionada.plastico;
            movimientoAlmacen.fechaMovimiento = this.fechaHoy;
            movimientoAlmacen.descripcion = this.descripcion;
            movimientoAlmacen.importe = this.importe;
            if (this.tipoMovimiento == '1') {
              movimientoAlmacen.tipoMovimiento = "Compra";
            }
            if (this.tipoMovimiento == '2') {
              movimientoAlmacen.tipoMovimiento = "Pago";
            }

            var request=new XMLHttpRequest();
            request.open("POST", "http://localhost:3001/saveMovement",false);
            request.setRequestHeader("Accept","application/json");
            request.setRequestHeader("Content-Type","application/json");
            var body=JSON.stringify(movimientoAlmacen);
            request.send(body);
              if (request.status == 200) {
                alert("Se ha almacenado correctamente el movimiento");
                this.cuentaSeleccionada.movimientos.push(movimientoAlmacen);
                this.descripcion = "";
                this.importe = "";
                this.tipoMovimiento = '0';
                this.$.list.render();
                console.log(this.cuentaSeleccionada.movimientos);
              } else {
                console.log("Error " + request.status);
              }
            }
          }
          obtenerValorBitcoin() {
            var request=new XMLHttpRequest();
             request.open("GET", "https://api.bitso.com/v3/ticker/?book=btc_mxn",false);
             request.send();
             var resultado = JSON.parse(request.response);
             this.valorBitcoin = resultado.payload.last;
             this.bitcoin = false;
             }
    }
    window.customElements.define(PaginaPrincipal.is,PaginaPrincipal);
  </script>
</dom-module>
)
